PUBLISH_MODE=github
GITHUB_TOKEN=
GITHUB_REPOSITORY=owner/repository
GITHUB_BRANCH=main
GITHUB_PATH=data/seasonal-event/events.json
SOURCE_URLS=https://actff1.web.sdo.com/project/20260817The_Rising/7rzrnb48uiw9/index.html
ALLOW_EMPTY_EVENTS=false
LOCATION_OVERRIDES={"seasonal-aae61e8dfaea":{"territoryId":128,"mapId":11,"x":-9.61439,"y":39.9998,"z":82.0985}}
REWARD_OVERRIDES={"seasonal-aae61e8dfaea":[{"name":"迷你乌克·拉玛特","category":"宠物","description":"获得新宠物“迷你乌克·拉玛特”。以图莱尤拉联合王国的公主乌克·拉玛特为原型制作的魔法人偶。你跟我走一趟吧，到图莱尤拉来！","flags":["珍稀","独占","不可出售","不可在市场出售"]},{"name":"新生庆典桌面海报2025-2","category":"桌上","description":"描绘了新生庆典情景的绘画作品，可以装饰在桌上。","flags":["独占","不可出售","不可在市场出售"]},{"name":"新生庆典海报2025-2","category":"壁挂","description":"描绘了新生庆典情景的绘画作品。","flags":["独占","不可出售","不可在市场出售"]},{"name":"新生庆典海报2025","category":"壁挂","description":"描绘了新生庆典情景的绘画作品。","flags":["独占","不可出售","不可在市场出售"]},{"name":"管弦乐琴乐谱：主题曲 ～ 玛托雅的洞穴（转调版）","category":"管弦乐琴乐谱","description":"在管弦乐琴乐谱集中加入谱有«主题曲 ～ 玛托雅的洞穴（转调版）»旋律的管弦乐琴乐谱。","flags":["珍稀","独占","不可出售","不可在市场出售"]},{"name":"管弦乐琴乐谱：悠久之风（转调版）","category":"管弦乐琴乐谱","description":"在管弦乐琴乐谱集中加入谱有«悠久之风（转调版）»旋律的管弦乐琴乐谱。","flags":["珍稀","独占","不可出售","不可在市场出售"]},{"name":"管弦乐琴乐谱：在札纳尔坎德（转调版）","category":"管弦乐琴乐谱","description":"在管弦乐琴乐谱集中加入谱有«在札纳尔坎德（转调版）»旋律的管弦乐琴乐谱。","flags":["珍稀","独占","不可出售","不可在市场出售"]}]}
COMPLETION_OVERRIDES={"seasonal-aae61e8dfaea":{"questId":71046,"achievementId":3875}}
